---
import '../styles/checkout.module.scss'
---


<h2>Pago y envío</h2>
<form>
    <input type="text" placeholder= "Nombre y apellidos" required aria-required="true">
    <input type="text" placeholder= "Dirección" required aria-required="true">
    <input type="text"placeholder= "Ciudad" required aria-required="true">
    <input type="text"placeholder= "Nº teléfono" required aria-required="true">
    <br><br/>
    <input type="text" placeholder= "Nº tarjeta" required aria-required="true">
    <input type="text"placeholder= "Código secreto" required aria-required="true">
    <br><br/>
    <input class="submit" type="submit"></input>
</form>