---
import styles from '../styles/home.module.scss'
---

<h2>¡Los pansis de hoy!</h2>
    <div class={styles.container}>
        <div><a href="/product1" aria-label="Ver más detalles del pan casero">
            <img width="200" src="/home-pan.jpg" alt="Pan">
            <h4>Pan casero</h4>
            <p>2€</p>
        </a></div>
        <div><a href="/product1" aria-label="Ver más detalles de la galleta de tres chocolates">
            <img width="200" src="/home-cookies.jpg" alt="Galleta">
            <h4>Galleta tres chocolates</h4>
            <p>1,50€</p>
        </a></div>
        <div><a href="/product1" aria-label="Ver más detalles del croissant">
            <img width="200" src="/home-croissant.jpg" alt="Bollo">
            <h4>Croissant clásico</h4>
            <p>1,75€</p>
        </a></div>
        <div><a href="/product1" aria-label="Ver más detalles del cupcake Red Velvet">
            <img width="200" src="/home-cupcake.jpg" alt="Cupcake">
            <h4>Cupcake Red Velvet</h4>
            <p>3€</p>
        </a></div>
    </div>
<h2>También te puede interesar...</h2>
    <ul>
        <li><a href="/product1">Bizchoco de limón - <b>3 €</b></a></li>
        <li><a href="/product1">Donut de chocolate blanco - <b>1,75 €</b></a></li>
        <li><a href="/product1">Tarta de zanahoria - <b>4 €</b></a></li>
        <li><a href="/product1">Tostadas de pasas y nueves - <b>3 €</b></a></li>
        <li><a href="/product1">Polvorones de Navidad - <b>5,20 €</b></a></li>
    </ul>
